<div>Create Race</div>

<form role="form">
    <div class="form-group">
        <label for="race-name">Race Name</label>
        <input type="text" class="form-control" id="race-name" ng-model="race.name" placeholder="Race name">
    </div>
    <div class="form-group">
        <label for="race-type">Race Type</label>
        <input type="text" class="form-control" id="race-type" ng-model="race.type" placeholder="Race type">
    </div>
    <div class="form-group">
        <label for="race-date">Race Date</label>
        <input type="date" class="form-control" id="race-date" ng-model="race.date">
    </div>
    <div class="form-group" ng-show="tracks.length > 0">
        <label for="race-track">Track</label>
        <select ng-model="race.track" ng-options="t.name for t in tracks"></select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="createRace(race)">Submit</button>
</form>