<div class="page-header"><h3>Create Race</h3></div>

<form role="form">
    <div class="form-group">
        <label for="race-name">Race Name</label>
        <input type="text" class="form-control" id="race-name" ng-model="race.name" placeholder="Race name">
    </div>
    <div class="form-group">
        <label for="race-type">Race Type</label>
        <input type="text" class="form-control" id="race-type" ng-model="race.type" placeholder="Race type">
    </div>
    <div class="form-group">
        <label for="race-date">Race Date</label>
        <input type="date" class="form-control" id="race-date" ng-model="race.date">
    </div>
    <button type="submit" class="btn btn-success" ng-click="createRace(race)">Submit</button>
</form>